$actionBarDivColor: rgb(40, 40, 40);
$actionBarAccentColor: rgb(42, 117, 187);

$actionBarTextColor: rgb(200, 200, 200);

mat-toolbar {
    background-color: $actionBarDivColor;
    color: $actionBarTextColor;

    position: fixed;
    bottom: 0;

    margin-top: 100px;
}

button {
    margin: 10px;
}

.spacer {
    flex: 1 1 auto;
}