$navbarDivColor: rgb(40, 40, 40);
$navbarTextColor: rgb(200, 200, 200);

mat-toolbar { // Material UI Toolbar div class
    background-color: $navbarDivColor;
    color: $navbarTextColor;
    
    position: fixed;
    height: 64px;

    z-index: 2;

    margin-bottom: 100px;
}

.navbarLogo {
    width: 100px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.spacer {
    flex: 1 1 auto;
}