<img class="image pikachu" src="./assets/pikachu.png"> <!-- Pikachu -->
<img class="image grookey" src="./assets/grookey.png"> <!-- Grookey -->
<img class="mainImage" src="./assets/trainer.png"> <!-- Trainer -->

<img class="image squad" src="./assets/squad.png"> <!-- Squirtle -->

<div class="trainer-div">
    <p>Welcome to the Pokémon Training Camp!</p>
    <span class="spacer"></span>
    <p>To get started with the camp, please input a trainer name you wish to use</p>
    <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
        <mat-form-field class="trainer-name" appearance="outline">
            <mat-label>Trainer Name</mat-label>
            <input #input matInput [formControl]="username" placeholder="Trainer Name" minlength="2" maxlength="20" autocomplete="off" required>
            <mat-error *ngIf="registrationForm.invalid">{{ errorMessage }}</mat-error>
        </mat-form-field>
        <span class="spacer"></span>
        <button class="register-button" [disabled]="registrationForm.invalid" mat-raised-button>Start Catching!</button>
    </form>
</div>