$colorBlue: rgb(61,125,202);
$colorWhite: white;

mat-card {
    max-width: 40vw;
    //max-height: 60vh;
    position: relative;

    left: 50%;
    //top: 20%;
    transform: translateX(-50%);
}

img {
    width: 256px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.moveTile {
    background-color: $colorBlue;
    color: $colorWhite;

    border-radius: 5px;

    text-align: center;
}