<mat-card class="example-card" *ngIf="Pokemon != null">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ Name | titlecase }}</mat-card-title>
      <mat-card-subtitle>Species: {{ Name | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ Sprite }}" alt="Sprite of {{Pokemon.name | titlecase}}">
    <mat-card-content>
        <h2>Information</h2>
        <p>Height: {{ Height }} cm</p>
        <p>Weight: {{ Weight }} grams</p>
        <p>Base Experience: {{ BXP }}</p>

        <mat-tab-group>
          <mat-tab label="Abilities" *ngIf="Abilities.length > 0">
            <ul>
              <li *ngFor="let ability of Abilities">
                  <b>{{ ability.name | titlecase }}</b>
                  <br/>
                  <small *ngFor="let effect of ability.effect_entries">{{ effect.effect }}</small>
              </li>
            </ul>
          </mat-tab>

          <mat-tab label="Moves" *ngIf="Moves.length > 0">
            <mat-grid-list cols=2 gutterSize="5px">
              <mat-grid-tile class="moveTile" *ngFor="let move of Moves" matTooltip="Test">
                <div>
                  <b>{{ move.name | uppercase }}</b>
                  <p *ngFor="let effect of move.effect_entries">{{ effect.effect }}</p>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-tab>

          <mat-tab label="Statistics" *ngIf="Stats.length > 0">
            <ul>
              <li *ngFor="let stat of Stats">
                  <b>{{ stat.stat.name | titlecase }}</b>
                  <br/>
                  <small>Base Stat: {{ stat.base_stat }}</small>
                  <br/>
                  <small>Effort: {{ stat.effort }}</small>
                  <!--<br/>
                  <small *ngFor="let effect of ability.effect_entries">{{ effect.effect }}</small>-->
              </li>
            </ul>
          </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="OnCollect()" *ngIf="IsCollected">ADD TO COLLECTION</button>
      <button mat-raised-button (click)="OnRemove()" *ngIf="!IsCollected">REMOVE FROM COLLECTION</button>
    </mat-card-actions>
  </mat-card>